<div class="project-list-item flex col">
    <div class="flex valign space-between">
        <div class="project-heading">Project Name</div>
        <div class="project-status">Ongoing</div>
    </div>
    <div class="project-detail" style="margin-top: 10px;">project details Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
        Architecto, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officia
        quos optio
        aliquam porro nostrum quod ipsum eos debitis eveniet.
    </div>
    <div class="flex valign space-between" style="margin-top: 20px;">
        <div class="project-author">project author</div>
        <div class="project-date">project date</div>
    </div>
</div>