<link rel="stylesheet" href="/css/create-project.css">

<div class="container">
    <div class="back">
        <a href="/project/<%= project_id %>">
            <i class="fas fa-arrow-left"></i>
            <span>Back</span>
        </a>
    </div>
    <div class="create-project-container">
        <form action="/project/<%= project_id %>/create-issue" method="post" class="flex col create-project-form"
            autocomplete="off">
            <input type="text" name="name" placeholder="Issue Name (Max. 30 characters)" maxlength="30" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <input type="text" name="author" placeholder="Author (Max. 20 characters)" maxlength="20" required>
            <button type="submit" class="btn">Create Issue</button>
        </form>
    </div>
</div>