<link rel="stylesheet" href="/css/create-project.css">

<div class="container">
    <div class="create-project-container">
        <form action="/project/create-project" method="post">
            <input type="text" name="name">
            <textarea name="description"></textarea>
            <input type="text" name="author">
            <button type="submit" class="btn">Create Project</button>
        </form>
    </div>
</div>