<link rel="stylesheet" href="/css/create-project.css">

<div class="container">
    <div class="back">
        <a href="/project/<%= project_id %>">
            <i class="fas fa-arrow-left"></i>
            <span>Back</span>
        </a>
    </div>
    <div class="create-project-container">
        <form action="/project/<%= project_id %>/create-issue" method="post" class="flex col create-project-form"
            autocomplete="off">
            <input type="text" name="name" placeholder="Issue Name (Max. 30 characters)" maxlength="30" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <input type="text" name="author" placeholder="Author (Max. 20 characters)" maxlength="20" required>
            <!-- bug, documentation, duplicate, enhancement, invalid, compilance, RFI, Observation -->
            <div class="flex  wrap options-container" style="margin-bottom: 15px;">
                <div class="flex valign">
                    <input type="checkbox" id="bug" name="bug" value="bug">
                    <label for="bug" style="margin-left: 5px;">Bug</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="documentation" name="documentation" value="documentation">
                    <label for="documentation" style="margin-left: 5px;">Documentation</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="duplicate" name="duplicate" value="duplicate">
                    <label for="duplicate" style="margin-left: 5px;">Duplicate</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="enhancement" name="enhancement" value="enhancement">
                    <label for="enhancement" style="margin-left: 5px;">Enhancement</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="invalid" name="invalid" value="invalid">
                    <label for="invalid" style="margin-left: 5px;">Invalid</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="compilance" name="compilance" value="compilance">
                    <label for="compilance" style="margin-left: 5px;">Compilance</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="observation" name="observation" value="observation">
                    <label for="observation" style="margin-left: 5px;">Observation</label>
                </div>
                <div class="flex valign">
                    <input type="checkbox" id="RFI" name="RFI" value="RFI">
                    <label for="RFI" style="margin-left: 5px;">RFI</label>
                </div>
            </div>
            <button type="submit" class="btn">Create Issue</button>
        </form>
    </div>
</div>