<link rel="stylesheet" href="/css/home.css">

<div class="container flex col">
    <form action="/search-project" method="post" class="search-form flex valign">
        <input type="text" placeholder="Search project..." name="title" value="<%= input_value %>" />
        <button type="submit" class="btn">Search</button>
    </form>

    <div>
        <% if (projects.length==0) { %>
            <div class="project-not-found">
                <h2>No projects found.</h2>
                <a href="/project/create" class="btn">Create Project</a>
            </div>
            <% } else { %>
                <div style="padding: 7px; margin-top: 50px;">
                    <a href="/project/create" class="btn">Create New Project</a>
                    <h2 style="margin-bottom: 30px; margin-top: 50px;">Projects</h2>
                    <!-- to display the projects -->
                    <div id="project-container" class="flex valign space-between">
                        <% for (project of projects) { %>
                            <%- include('_project') -%>
                                <% } %>
                    </div>
                </div>

                <% } %>
    </div>

</div>

<script src="/js/home.js"></script>