.issue-item {
  border: 1px solid var(--border-color);
  font-size: 12px;
  padding: 15px;
  background-color: var(--secondary-dark-color);
  border-radius: 4px;
}

.issue-item button {
  cursor: pointer;
  font-size: 12px;
  padding: 6px 12px;
  background-color: var(--accent-bg);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.label-container {
  margin-top: 16px;
}

.label-container span {
  background-color: var(--canvas);
  font-size: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.issue-item-details {
  margin-top: 10px;
}
