.project-header {
  height: max-content;
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(30, 31, 32);
  padding-bottom: 50px;
}

.container {
  margin-top: 0;
}

.project-header .btn-danger {
  background-color: rgb(226, 47, 47);
  margin-left: 10px;
}

.project-header .btn-danger:hover {
  background-color: rgb(255, 0, 0);
}

.project-name {
  line-height: 50px;
}

.project-description {
  font-size: 14px;
}

.sidebar {
  width: 33.33%;
  margin-right: 25px;
  border: 1px solid var(--border-color);
  height: max-content;
  padding: 10px 15px;
}

.sidebar label {
  font-size: 14px;
}

.issue-author {
  font-size: 10px;
  margin-top: 6px;
  color: var(--secondary-text-color);
}

.issue-item a {
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 14px;
}

.options-container label {
  font-size: 12px;
}

.sidebar form > div {
  margin-bottom: 15px;
}

.sidebar form input[type="text"] {
  background-color: var(--secondary-dark-color);
  border: none;
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 4px;
}

.sidebar form input[type="text"]:focus {
  box-shadow: 0 0 8px rgb(29, 114, 233);
}

.options-container {
  justify-content: space-between;
}
.options-container > div {
  flex-basis: 50%;
  margin-bottom: 6px;
}

.filter-btn {
  border: none;
  background-color: var(--accent-bg);
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.filter-btn:hover {
  transform: translateY(-1px);
}

.clear-filter {
  font-size: 12px;
  text-decoration: underline;
  margin-left: 10px;
  color: rgb(97, 97, 240);
}

.issues-container {
  position: relative;
}

.no-issue {
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: 50px;
}

.no-issue div {
  margin-bottom: 6px;
  font-size: 12px;
}

/* dynamic css */
.tag {
  font-size: 10px;
  padding: 4px 8px;
  background-color: var(--secondary-dark-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}
